{% extends 'base.html.twig' %}

{% block title %}JobCategory{% endblock %}

{% block body %}

    <div class="">

        <div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
            <div class="carousel-inner">
                {% for category in job_category.children %}
                    <div class="carousel-item {% if loop.first %} active {% endif %}">
                        <img src="{{ vich_uploader_asset(category, 'imageFile')|imagine_filter('my_heighten_filter') }}" class="d-block w-100">
                        <div class="container-item-content">
                            <a class="btn btn-info" href="{{ path('job_category_show', {'slug' : category.slug }) }}" >En savoir plus</a>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>

    <div class="woven-tagline">
        Hello
    </div>

{% endblock %}
